svg {

    z-index:-1;
}
body{
    background-color: lightgoldenrodyellow;
}

h1,h2, p {
 font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: grey;
}

.infoTremblement{
    text-align: right;
}
div {
    background-color: transparent;
}

.hidden{
    display:none;
}

.infoHeader{
    display: flex;
    justify-content: space-between;
}